<h1>Trip Name: <%= @trip.name %></h1>
<% @trip.trails.each do |trail| %>
  <div class = 'trail_<%= trail.id %>'>
    <h3>Trail Name: <%= trail.name %></h3>
    <p>Trail Address: <%= trail.address %></p>
    <p>Trail Length: <%= number_with_precision(trail.length, :precision => 1) %> miles</p>
  </div><br/>
<% end %>
